@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

/* RESET RULES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
:root {
  --white: #afafaf;
  --red: #e31b23;
  --bodyColor: #292a2b;
  --borderFormEls: hsl(0, 0%, 10%);
  --bgFormEls: hsl(0, 0%, 14%);
  --bgFormElsFocus: hsl(0, 7%, 20%);
}

a {
  color: inherit;
}

input,
select,
textarea,
button {
  font-family: inherit;
  font-size: 100%;
}

button,
label {
  cursor: pointer;
}

select {
  appearance: none;
}

/* Remove native arrow on IE */
select::-ms-expand {
  display: none;
}

/*Remove dotted outline from selected option on Firefox*/
/*https://stackoverflow.com/questions/3773430/remove-outline-from-select-box-in-ff/18853002#18853002*/
/*We use !important to override the color set for the select on line 99*/
select:-moz-focusring {
  color: transparent !important;
  text-shadow: 0 0 0 var(--white);
}

textarea {
  resize: none;
}

ul {
  list-style: none;
}

.main-body {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
  background-image: url(../assets//images/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  color: var(--white);
  font: 18px/1.5 "Open Sans", sans-serif;
}

.main-container {
  display: flex;
  flex-direction: column-reverse;
  gap: 5px;
}

.analytics {
  background-color: var(--bodyColor);
  min-width: 300px;
}

.analytics-header {
  background-color: #000000;
  padding: 10px;
  margin: 15px 0 20px;
  display: flex;
}
.analytics-header img {
  width: 25px;
}

.analytics-header h1 {
  color: var(--white);
  font-size: 18px;
  margin-left: 5px;
}

.analytics-body {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}

.analytics-body-right,
.analytics-body-left {
  flex: 1;
}

.analytics-stats-box {
  background-color: #0000003a;
  padding: 10px;
  margin-bottom: 5px;
  color: white;
  border-radius: 5px;
}
.analytics-stats-box p {
  font-size: 1.5rem;
}
.analytics-stats-box small {
  color: var(--white);
}

.copy-btn small {
  margin-left: 10px;
}

.form-container {
  position: relative;
  background-color: var(--bodyColor);
}

.link-box {
  position: absolute;
  left: 25px;
  bottom: 100px;
}

.copy-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copy-btn button {
  background: var(--bgFormEls);
  border: 1px solid var(--borderFormEls);
  color: var(--white);
  padding: 5px 10px;
}
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0.8rem 1.5rem 1.5rem 1.5rem;
}

/* FORM ELEMENTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.my-form h1 {
  margin-bottom: 1.5rem;
}

.my-form li,
.my-form .grid > *:not(:last-child) {
  margin-bottom: 1.5rem;
}

.my-form select,
.my-form input,
.my-form button {
  font-size: 16px;
  width: 100%;
  line-height: 1.5;
  padding: 5px 10px;
  border: 1px solid var(--borderFormEls);
  color: var(--white);
  background: var(--bgFormEls);
  transition: background-color 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25),
    transform 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25);
}

.my-form textarea {
  color: yellow;
  height: 170px;
}
.my-form textarea::placeholder {
  color: gray;
  font-size: 14px;
}

.my-form ::placeholder {
  color: inherit;
  /*Fix opacity issue on Firefox*/
  opacity: 1;
}

/* .my-form select:focus,
.my-form input:focus,
.my-form textarea:focus,
.my-form button:enabled:hover,
.my-form button:focus,
.my-form input[type="checkbox"]:focus + label {
  background: var(--bgFormElsFocus);
} */

.my-form select:focus,
.my-form input:focus,
.my-form textarea:focus::placeholder {
  transform: scale(1.02);
  /* color: transparent; */
}

.my-form *:required,
.my-form select {
  background-repeat: no-repeat;
  background-position: center right 12px;
  background-size: 15px 15px;
}

.my-form *:required {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/asterisk.svg);
}

.my-form select {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/down.svg);
}

.my-form *:disabled {
  cursor: default;
  filter: blur(2px);
}

/* FORM BTNS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* .my-form .required-msg {
  display: none;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/asterisk.svg)
    no-repeat top left / 15px 15px;
  padding-left: 20px;
} */

.loading-box {
  display: flex;
  justify-content: left;
  align-items: center;
}

.loading-box span {
  margin-left: 10px;
}

.loader {
  border: 3px solid #f3f3f3; /* Light grey */
  border-top: 3px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
  /* margin: 0 auto 15px; */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.error-msg {
  width: 210px;
  font-size: 16px;
  line-height: 18px;
  /* line-break: anywhere; */
}

.my-form .btn-grid {
  position: relative;
  overflow: hidden;
  transition: filter 0.2s;
}

.my-form button {
  font-weight: bold;
}

.my-form button > * {
  display: inline-block;
  width: 100%;
  transition: transform 0.4s ease-in-out;
}

.my-form button .back {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-110%, -50%);
}

.my-form button:enabled:hover .back,
.my-form button:focus .back {
  transform: translate(-50%, -50%);
}

.my-form button:enabled:hover .front,
.my-form button:focus .front {
  transform: translateX(110%);
}

.back img {
  color: white;
  width: 25px;
  margin-top: 6px;
}

/* CUSTOM CHECKBOX
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.my-form input[type="checkbox"] {
  position: absolute;
  left: -9999px;
}

.my-form input[type="checkbox"] + label {
  position: relative;
  display: inline-block;
  padding-left: 2rem;
  transition: background 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25);
}

.my-form input[type="checkbox"] + label::before,
.my-form input[type="checkbox"] + label::after {
  content: "";
  position: absolute;
}

.my-form input[type="checkbox"] + label::before {
  left: 0;
  top: 6px;
  width: 18px;
  height: 18px;
  border: 2px solid var(--white);
}

.my-form input[type="checkbox"]:checked + label::before {
  background: var(--red);
}

.my-form input[type="checkbox"]:checked + label::after {
  left: 7px;
  top: 7px;
  width: 6px;
  height: 14px;
  border-bottom: 2px solid var(--white);
  border-right: 2px solid var(--white);
  transform: rotate(45deg);
}

/* FOOTER
–––––––––––––––––––––––––––––––––––––––––––––––––– */
footer {
  font-size: 1rem;
  text-align: right;
  backface-visibility: hidden;
}

footer a {
  text-decoration: none;
}

footer span {
  color: var(--red);
}

/* MQ
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (min-width: 600px) {
  .my-form .grid {
    display: grid;
    grid-gap: 1.5rem;
  }

  .my-form .grid-2 {
    grid-template-columns: 1fr 1fr;
  }

  .my-form .grid-3 {
    grid-template-columns: auto auto auto;
    align-items: center;
  }

  .my-form .grid > *:not(:last-child) {
    margin-bottom: 0;
  }

  .my-form .required-msg {
    display: block;
  }

  .main-body {
    height: 100vh;
  }

  .link-box {
    position: absolute;
    left: 25px;
    bottom: 50px;
  }

  .main-container {
    flex-direction: row;
  }
}

@media screen and (min-width: 541px) {
  .my-form input[type="checkbox"] + label::before {
    top: 50%;
    transform: translateY(-50%);
  }

  .my-form input[type="checkbox"]:checked + label::after {
    top: 3px;
  }

  .main-body {
    height: 100vh;
  }
  .link-box {
    position: absolute;
    left: 25px;
    bottom: 50px;
  }

  .main-container {
    flex-direction: row;
  }
}
